{% extends 'core/base.html' %}

{% block content %}
<div class="fitflix-form-container">
    <form method="post">
        {% csrf_token %}

        <div class="fitflix-card">
            <h1 class="fitflix-title">Editar avaliação</h1>

            <div class="form-group">
                <label for="tipo">Tipo de Avaliação</label>
                <select name="tipo" id="tipo">
                    <option value="adulto" selected>Adulto</option>
                    <option value="crianca">Criança</option>
                    <option value="idoso">Idoso</option>
                </select>
            </div>
        </div>

        <div class="fitflix-card">
            <h2 class="fitflix-title">Dados Pessoais</h2>
            {% for field in avaliacao_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>

        <div class="fitflix-card">
            <h2 class="fitflix-title">Circunferências</h2>
            {% for field in circ_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>

        <div class="fitflix-card">
            <h2 class="fitflix-title">Adipometria</h2>
            {% for field in adip_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>

        <div class="fitflix-card">
            <div class="form-group">
                <button type="submit" class="btn">Salvar avaliação</button>
            </div>
        </div>
    </form>
</div>

<script>
document.getElementById('tipo').addEventListener('change', function() {
    const tipo = this.value;

    if (tipo === 'crianca') {
        window.location.href = "{% url 'core:criar_avaliacao_crianca' %}";
    }

    if (tipo === 'idoso') {
        window.location.href = "{% url 'core:criar_avaliacao_idoso' %}";
    }

    if (tipo === 'adulto') {
        window.location.href = "{% url 'core:criar_avaliacao' %}";
    }
});
</script>
{% endblock %}
