{% extends "core/base_auth.html" %}
{% load static %}

{% block content %}

<div style="
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
">

    <div style="
        width:100%;
        max-width:420px;
        background:#000000;
        padding:40px;
        border-radius:20px;
        box-shadow:0 0 30px rgba(0, 255, 128, 0.299);
    ">

        <h1 style="
            text-align:center;
            margin-bottom:10px;
            color:#00ff88;
        ">
            FitFlix
        </h1>

        <p style="
            text-align:center;
            color:#9ca3af;
            margin-bottom:30px;
        ">
            Acesse sua conta
        </p>

         <form method="POST">
        {% csrf_token %}

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Senha</label>
        <input type="password" name="password" required>

        <button type="submit">
            Entrar
        </button>
    </form>

</div>

{% endblock %}

        